[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-cors = "*"
numpy = "*"
pandas = "*"
scikit-learn = "*"
matplotlib = "*"
gunicorn = "*"

[requires]
python_version = "*"
